.home {
  width: 82%;
  .top {
    display: flex;
    justify-content: flex-end;
    border-bottom: 1px solid #cbcfd6;
    .utils {
      display: flex;
      .one, .two, .three {
        height: 60px;
        width: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #99a2b1;
        border-left: 1px solid #cbcfd6;
        cursor: pointer;
        font-size: 20px;
        transition: 400ms ease;
        &:hover {
          background: #12a3ff;
          color: #fff;
        }
      }
    }
  }
  .user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px;
    .left {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        margin: 0;
      }
      h2 {
        margin: 0;
        font-size: 22px;
      }
      address {
        margin: 0;
      }
    }
    .right {
      .buttons {
        display: flex;
        align-items: center;
        .msg, .btn-one, .btn-two {
          margin-left: 20px;
          font-size: 20px;
          border: 1px solid #cbcfd6;
          padding: 10px;
          border-radius: 25px;
          display: flex;
          align-items: center;
          transition: 400ms ease;
          cursor: pointer;
          color: #99a2b1;
          &:hover {
            background: #12a3ff;
            color: #fff;
          }
        }
      }
    }
  }
  .tabs {
    ul {
      display: flex;
      list-style: none;
      li {
        margin-right: 25px;
        position: relative;
        padding-bottom: 5px;
        cursor: pointer;
        text-transform: uppercase;
        &.is-active {
          border-bottom: 2px solid #12a3ff;
          font-weight: bold;
        }
      }
    }
  }
  .main-content {
    background: #edf2f6;
    border-top: 3px solid #d5dbe0;
    padding: 30px 20px;
    margin-top: -10px;
    position: relative;
    .other-infos {
      display: flex;
      padding-bottom: 30px;
      .best-skills {
        min-width: 65%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .skill {
          width: 100px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background: #fff;
          flex-direction: column;
          .level {
            font-size: 25px;
          }
          .skill-name {
            font-size: 12px;
          }
        }
      }
      blockquote {
        border-left: 5px solid #12a3ff;
      }
    }
    .divisoria {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: white;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto;
      color: #99a2b1;
      font-size: 11px;
      border: 2px solid #d5dbe0;
      &:after {
        position: absolute;
        right: 25px;
        width: 44%;
        height: 2px;
        background: #d5dbe0;
        content: '';
      }
      &:before {
        position: absolute;
        left: 25px;
        width: 44%;
        height: 2px;
        background: #d5dbe0;
        content: '';
      }
    }
    .bottom-content {
      position: relative;
      padding: 30px 0;
      display: flex;
      .job-description {
        width: 75%;
        border-bottom: 2px solid #ccc;
        .header {
          min-height: 40px;
          background: #354052;
          color: white;
          display: flex;
          align-items: center;
          padding: 0 20px;
          font-weight: bold;
          text-transform: uppercase;
          border-radius: 4px 4px 0px 0px;
        }
        .table-row {
          min-height: 65px;
          display: flex;
          border-bottom: 1px solid #eee;
          align-items: center;
          background: white;
          padding: 0 20px;
          input {
            outline: none;
            border: none;
            width: 500px;
            border-bottom: 1px solid #ccc;
          }
          .left {
            min-width: 30%;
          }
          .right {
            p {
              margin: 0;
            }
          }
        }
      }
      .social-links {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .social {
          display: flex;
          border-radius: 2px;
          color: white;
          width: 90%;
          justify-content: center;
          align-items: center;
          align-self: flex-end;
          cursor: pointer;
          min-height: 50px;
          margin-bottom: 15px;
          transition: 400ms ease;
          span {
            font-size: 22px;
          }
          p {
            margin: 0;
            margin-left: 7px;
          }
        }
        .face {
          background: #3b5998;
          &:hover {
            background: darken(#3b5998, 10%);
          }
        }
        .twitter {
          background: #1dcaff;
          &:hover {
            background: darken(#1dcaff, 10%);
          }
        }
        .linkedin {
          background: #0077B5;
          &:hover {
            background: darken(#0077B5, 10%);
          }
        }
      }
    }
  }
}
