.dash-menu {
  width: 0;
  background: #354052;
  padding: 25px 0;
  transition: 400ms ease;
  border-right: 2px solid #2d3548;
  overflow: hidden;
  &.is-open {
    width: 18%;
  }
  .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #2d3548;
    padding: 20px 0;
    img {
      width: 100px;
      border-radius: 50%;
    }
    h1 {
      color: #99a2b1;
      font-size: 13px;
      font-weight: bold;
    }
  }
  .bottom {
    margin-top: 10px;
  }
  .bottom, .etc {
    padding: 5px 0;
    span {
      color: #838a96;
      padding-left: 40px;
      font-weight: bold;
    }
    ul {
      padding: 0;
      margin-top: 10px;
      li {
        padding-left: 40px;
        line-height: 35px;
        transition: 400ms ease;
        cursor: pointer;
        &.is-selected {
          position: relative;
          background: #262f3e;
          &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: #42d5d6;
            width: 4px;
          }
        }
        &:hover {
          background: darken(#838a96, 5%);
        }
        i {
          color: #99a2b1;
          font-size: 15px;
          margin-right: 5px;
        }
        a {
          color: #99a2b1;
          text-transform: uppercase;
          font-weight: bold;
          transition: 400ms ease;
          &:hover {
            text-decoration: none;
            color: darken(#99a2b1, 5%);
          }
        }
      }
    }
  }
}
