.skill-list{
  width: 82%;
  background: #f1f1f1;
  .top {
    display: flex;
    justify-content: flex-end;
    height: 60px;
    border-bottom: 1px solid #cbcfd6;
    background: white;
    .search-input{
      width: 100%;
      height: 100%;
      box-shadow: none;
      outline: none;
      border: 0;
      padding: 0 15px;
    }
    .utils {
      display: flex;
      .one, .two, .three {
        height: 60px;
        width: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #99a2b1;
        border-left: 1px solid #cbcfd6;
        cursor: pointer;
        font-size: 20px;
        transition: 400ms ease;
        &:hover {
          background: #12a3ff;
          color: #fff;
        }
      }
    }
  }
  .list{
    padding: 30px 45px;
    .item{
      display: flex;
      align-items: center;
      margin-bottom: 50px;
      .icon{
        width: 80px;
        margin-right: 25px;
        .fa{
          font-size: 70px;
          color: #354052;
        }
        img{
          max-width: 100%;
        }
      }
      .right{
        width: 100%;
        span{
          float: right;
        }
        .progress-box{
          margin-top: 10px;
          display: block;
          width: 100%;
          height: 15px;
          background: #e4e4e4;
          .progress-bar{
            height: 15px;
            background: #354052;
          }
        }
      }
    }
  }
  .new-item{
    margin: auto;
    max-width:500px;
    padding: 50px;
    input{
      width: 100%;
      border: 0;
      margin-bottom: 10px;
      outline: none;
      box-shadow: none;
      padding: 0 15px;
      height: 40px;
    }
    button{
      width: 100%;
      height: 40px;
      background: #12a3ff;
      color: white;
      border: 0;
      outline: none;
      box-shadow: none;
    }
  }
}
