<template>
  <div id="app">
    <section class="dash-menu is-open">
      <div class="top">
        <figure>
          <img src="./assets/user_placeholder.png" alt="">
        </figure>
        <h1>{{ user.name }}</h1>
      </div>
      <nav class="bottom">
        <span>Main</span>
        <ul>
          <router-link to="/">
            <li class="is-selected">
              <i class="fa fa-home" aria-hidden="true"></i>
              Overview
            </li>
          </router-link>
          <router-link to="/skill-list">
            <li>
              <i class="fa fa-bar-chart" aria-hidden="true"></i>
              Skill List
            </li>
          </router-link>
          <router-link to="/">
            <li>
              <i class="fa fa-file-text" aria-hidden="true"></i>
              Resumes
            </li>
          </router-link>
          <router-link to="/">
            <li>
              <i class="fa fa-user" aria-hidden="true"></i>
              Jobs
            </li>
          </router-link>
          <router-link to="/">
            <li>
              <i class="fa fa-calendar" aria-hidden="true"></i>
              Calendar
            </li>
          </router-link>
        </ul>
      </nav>
      <div class="etc">
        <span>Admin</span>
        <ul>
          <router-link to="/">
            <li>
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              Location
            </li>
          </router-link>
          <router-link to="/">
            <li>
              <i class="fa fa-code-fork" aria-hidden="true"></i>
              Workflow
            </li>
          </router-link>
          <router-link to="/">
            <li>
              <i class="fa fa-share-square-o" aria-hidden="true"></i>
              Social
            </li>
          </router-link>
          <router-link to="/">
            <li>
              <i class="fa fa-cog" aria-hidden="true"></i>
              Options
            </li>
          </router-link>
        </ul>
      </div>
    </section>
    <router-view :usuario="user"></router-view>
  </div>
</template>

<script>
export default {

  name: 'app',
  data() {
    return {
      user: {
        name: "Seu nome",
        cargo: "Seu cargo",
        localidade: "Seu endereço",
        quote: '"A tecnologia para tornar algo invisível é tão infinitamente complexa que, é muito mais simples e eficaz remover a coisa e esquecer o assunto."',
        bestSkills : [],
        tempo: "1-2 anos",
        description: "Nada viaja mais rápido do que a velocidade da luz, com exceção talvez das más notícias, que obedecem leis próprias e especiais."
      }
    }
  }
}
</script>

<style scoped>
#app {
  display: flex;
  align-items: stretch;
}
ul {
  list-style: none;
}
.dash-menu {
  width: 0;
  background: #354052;
  padding: 25px 0;
  transition: 400ms ease;
  border-right: 2px solid #2d3548;
  overflow: hidden; }
  .dash-menu.is-open {
    width: 18%; }
  .dash-menu .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 2px solid #2d3548;
    padding: 20px 0; }
    .dash-menu .top img {
      width: 100px;
      border-radius: 50%; }
    .dash-menu .top h1 {
      color: #99a2b1;
      font-size: 13px;
      font-weight: bold; }
  .dash-menu .bottom {
    margin-top: 10px; }
  .dash-menu .bottom, .dash-menu .etc {
    padding: 5px 0; }
    .dash-menu .bottom span, .dash-menu .etc span {
      color: #838a96;
      padding-left: 40px;
      font-weight: bold; }
    .dash-menu .bottom ul, .dash-menu .etc ul {
      padding: 0;
      margin-top: 10px; }
      .dash-menu .bottom ul li, .dash-menu .etc ul li {
        padding-left: 40px;
        line-height: 35px;
        position: relative;
        z-index: 99;
        transition: 400ms ease;
        cursor: pointer; }
        .dash-menu .bottom ul li.is-selected, .dash-menu .etc ul li.is-selected {
          position: relative;
          background: #262f3e; }
          .dash-menu .bottom ul li.is-selected:before, .dash-menu .etc ul li.is-selected:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: #42d5d6;
            width: 4px; }
        .dash-menu .bottom ul li:hover, .dash-menu .etc ul li:hover {
          background: #757d8a; }
        .dash-menu .bottom ul li i, .dash-menu .etc ul li i {
          color: #99a2b1;
          font-size: 15px;
          margin-right: 5px; }
        .dash-menu .bottom ul li, .dash-menu .etc ul li {
          color: #99a2b1;
          text-transform: uppercase;
          font-weight: bold;
          transition: 400ms ease; }
          .dash-menu .bottom ul li a:hover, .dash-menu .etc ul li a:hover {
            text-decoration: none;
            color: #8b95a6; }
</style>
