<template>
  <section class="home">
    <div class="top">
      <div class="utils">
        <div class="one">
          <span><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
        </div>
        <div class="two">
          <span><i class="fa fa-compress" aria-hidden="true"></i></span>
        </div>
        <div class="three">
          <span><i class="fa fa-bars" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <div class="user-info">
      <div class="left">
        <h1>{{ usuario.name }}</h1>
        <div class="user-experience">
          <h2>{{ usuario.cargo }}</h2> - <h3>Tempo de experiência - {{ usuario.tempo }}</h3>
        </div>
        <address>
          <i class="fa fa-map-marker" aria-hidden="true"></i>
          {{ usuario.localidade }}
        </address>
      </div>
      <div class="right">
        <div class="buttons">
          <div class="msg">
            <i class="fa fa-envelope" aria-hidden="true"></i>
          </div>
          <div class="btn-one">
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          </div>
          <div class="btn-two">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </div>
    <nav class="tabs">
      <ul>
        <li class="is-active">Summary</li>
        <li>Activity</li>
        <li>Job Board</li>
      </ul>
    </nav>
    <div class="main-content">
      <div class="other-infos">
        <div class="best-skills">
          <div class="skill skill-1" v-if="usuario.bestSkills[0]">
            <span class="level">
              {{ usuario.bestSkills[0].knowledge }}%
            </span>
            <span class="skill-name">
              {{ usuario.bestSkills[0].skill }}
            </span>
          </div>
          <div class="skill skill-1" v-else>
            <span class="level">%</span>
            <span class="skill-name">Top Habilidade</span>
          </div>
          <div class="skill skill-2" v-if="usuario.bestSkills[1]">
            <span class="level">
              {{ usuario.bestSkills[1].knowledge }}%
            </span>
            <span class="skill-name">
              {{ usuario.bestSkills[1].skill }}
            </span>
          </div>
          <div class="skill skill-2" v-else>
            <span class="level">%</span>
            <span class="skill-name">Top Habilidade</span>
          </div>
          <div class="skill skill-3" v-if="usuario.bestSkills[2]">
            <span class="level">
              {{ usuario.bestSkills[2].knowledge }}%
            </span>
            <span class="skill-name">
              {{ usuario.bestSkills[2].skill }}
            </span>
          </div>
          <div class="skill skill-3" v-else>
            <span class="level">%</span>
            <span class="skill-name">Top Habilidade</span>
          </div>
        </div>
        <div class="personal-quote">
          <blockquote cite="">
            {{ usuario.quote }}
          </blockquote>
        </div>
      </div>
      <span class="divisoria"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
      <div class="bottom-content">
        <div class="job-description">
          <div class="header">
            <span>Job description</span>
          </div>
          <div class="table-row">
            <div class="left">
              Professional name
            </div>
            <div class="right">
              <input type="" v-model="usuario.name" name="name">
            </div>
          </div>
          <div class="table-row">
            <div class="left">
              Position title
            </div>
            <div class="right">
              <input type="" v-model="usuario.cargo" name="cargo">
            </div>
          </div>
          <div class="table-row">
            <div class="left">
              Professional address
            </div>
            <div class="right">
              <input type="" v-model="usuario.localidade" name="address">
            </div>
          </div>
          <div class="table-row">
            <div class="left">
              Experience time
            </div>
            <div class="right">
              <input type="" v-model="usuario.tempo" name="tempo">
            </div>
          </div>
          <div class="table-row">
            <div class="left">
              Description
            </div>
            <div class="right">
              <textarea v-model="usuario.quote" name="desc"/>
            </div>
          </div>
        </div>
        <div class="social-links">
          <div class="social face">
            <span><i class="fa fa-facebook-official" aria-hidden="true"></i></span>
            <p>Share it on Facebook</p>
          </div>
          <div class="social twitter">
            <span><i class="fa fa-twitter" aria-hidden="true"></i></span>
            <p>Share it on Twitter</p>
          </div>
          <div class="social linkedin">
            <span><i class="fa fa-linkedin-square" aria-hidden="true"></i></span>
            <p>Share it on LinkedIn</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>


export default {

  name: 'app',
  components: {
  },
  props: ['usuario'],
  data() {
    return {
    }
  }
}
</script>

<style src="../assets/css/home.css"></style>
