<template>
  <div class="skill-list">
    <div class="search">
      <div class="top">
        <input type="text" name="s" placeholder="Buscar em suas habilidades" class="search-input">
        <div class="utils">
          <div class="one">
            <span><i class="fa fa-user-circle-o" aria-hidden="true"></i></span>
          </div>
          <div class="two">
            <span><i class="fa fa-compress" aria-hidden="true"></i></span>
          </div>
          <div class="three">
            <span><i class="fa fa-bars" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>

      <div class="new-item">
        <form id="new-skill" v-on:submit.prevent="sendItem(this)">
          <div class="box">
            <input type="text" name="skill" placeholder="Nome:" v-model="skill">
            <input type="range" min="0" max="100" value="50" name="knowledge" placeholder="Nível de conhecimento" v-model="knowledge">
            <div class="val">
              {{ knowledge }}
            </div>
            <button type="submit" name="button">Adicionar</button>
          </div>
        </form>
      </div>

      <div class="list" v-if="usuario.bestSkills[0]">
        <div class="item" v-for="(i, index) in usuario.bestSkills">
          <div class="icon">
            <i class="fa fa-puzzle-piece"></i>
          </div>
          <div class="right">
            <input type="text" v-model="i.skill" name="skill-percent" disabled/>
            <input type="text"  v-model="i.knowledge" name="knowledge" disabled/>
            <div class="progress-box">
              <div class="progress-bar" :style="'width:' + i.knowledge + '%'"></div>
            </div>
            <button type="button" name="remove" class="remove" v-on:click="removeItem(index)"><i class="fa fa-trash-o" aria-hidden="true"></i>
</button>
            <button type="button" name="edit" class="edit" v-on:click="editable($event)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button type="button" name="save" class="save" v-on:click="save($event)"><i class="fa fa-check" aria-hidden="true"></i>
</button>
          </div>
        </div>
      </div>
      <div class="no-hability" v-else>
        <p>Você ainda não cadastrou suas habilidades :(</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'skill-list',
    props: ['usuario'],
    methods: {
      orderSkills: function(bestSkills) {
        bestSkills.sort(function(a, b){
           return a.knowledge - b.knowledge;
        });
        bestSkills.reverse();
      },
      editable: function(event) {
        var parent = event.currentTarget.closest(".item");
        parent.classList.add("editable");
        var inputs = parent.querySelectorAll("input");
        for (let i = 0; i < inputs.length; i++) {
          inputs[i].removeAttribute("disabled");
        }
      },
      save: function() {
        var parent = event.currentTarget.closest(".item");
        parent.classList.remove("editable");
        var inputs = parent.querySelectorAll("input");
        for (let i = 0; i < inputs.length; i++) {
          inputs[i].setAttribute("disabled", "true");
        }
        this.orderSkills(this.usuario.bestSkills);
      }
    },
    data() {
      return {
        skill:null,
        knowledge:null,
        range: null,
        sendItem: function(form) {
          var newSkill = {};
          newSkill.skill = this.skill;
          newSkill.knowledge = this.knowledge;
          this.usuario.bestSkills.push(newSkill);
          this.orderSkills(this.usuario.bestSkills);
        },
        removeItem: function(index) {
          if (index > -1) {
            this.usuario.bestSkills.splice(index, 1);
          }
        }
      }
    }
  }
</script>

<style src="../assets/css/skill-list.css"></style>
