.home{width:82%}.home .top{display:flex;justify-content:flex-end;border-bottom:1px solid #cbcfd6}.home .top .utils{display:flex}.home .top .utils .one,.home .top .utils .two,.home .top .utils .three{height:60px;width:65px;display:flex;align-items:center;justify-content:center;color:#99a2b1;border-left:1px solid #cbcfd6;cursor:pointer;font-size:20px;transition:400ms ease}.home .top .utils .one:hover,.home .top .utils .two:hover,.home .top .utils .three:hover{background:#12a3ff;color:#fff}.home .user-info{display:flex;justify-content:space-between;align-items:center;padding:25px 35px}.home .user-info .left{width:50%;display:flex;flex-direction:column;justify-content:center}.home .user-info .left h1{margin:0}.home .user-info .left h2{margin:0;font-size:22px}.home .user-info .left address{margin:0}.home .user-info .right .buttons{display:flex;align-items:center}.home .user-info .right .buttons .msg,.home .user-info .right .buttons .btn-one,.home .user-info .right .buttons .btn-two{margin-left:20px;font-size:20px;border:1px solid #cbcfd6;padding:10px;border-radius:25px;display:flex;align-items:center;transition:400ms ease;cursor:pointer;color:#99a2b1}.home .user-info .right .buttons .msg:hover,.home .user-info .right .buttons .btn-one:hover,.home .user-info .right .buttons .btn-two:hover{background:#12a3ff;color:#fff}.home .tabs ul{display:flex;list-style:none}.home .tabs ul li{margin-right:25px;position:relative;padding-bottom:5px;cursor:pointer;text-transform:uppercase}.home .tabs ul li.is-active{border-bottom:2px solid #12a3ff;font-weight:bold}.home .main-content{background:#edf2f6;border-top:3px solid #d5dbe0;padding:30px 20px;margin-top:-10px;position:relative}.home .main-content .other-infos{display:flex;padding-bottom:30px}.home .main-content .other-infos .best-skills{min-width:65%;display:flex;align-items:center;justify-content:space-around}.home .main-content .other-infos .best-skills .skill{width:120px;height:120px;display:flex;align-items:center;justify-content:center;border-radius:50%;background:#fff;flex-direction:column}.home .main-content .other-infos .best-skills .skill .level{font-size:25px}.home .main-content .other-infos .best-skills .skill .skill-name{font-size:12px}.home .main-content .other-infos blockquote{border-left:2px solid #12a3ff}.home .main-content .divisoria{width:25px;height:25px;border-radius:50%;background:white;display:flex;align-items:center;justify-content:center;margin:auto;color:#99a2b1;font-size:11px;border:2px solid #d5dbe0}.home .main-content .divisoria:after{position:absolute;right:25px;width:44%;height:2px;background:#d5dbe0;content:''}.home .main-content .divisoria:before{position:absolute;left:25px;width:44%;height:2px;background:#d5dbe0;content:''}.home .main-content .bottom-content{position:relative;padding:30px 0;display:flex}.home .main-content .bottom-content .job-description{width:75%;border-bottom:2px solid #ccc}.home .main-content .bottom-content .job-description .header{min-height:40px;background:#354052;color:white;display:flex;align-items:center;padding:0 20px;font-weight:bold;text-transform:uppercase;border-radius:4px 4px 0px 0px}.home .main-content .bottom-content .job-description .table-row{min-height:65px;display:flex;border-bottom:1px solid #eee;align-items:center;background:white;padding:0 20px}.home .main-content .bottom-content .job-description .table-row input{outline:none;border:none;width:500px;border-bottom:1px solid #ccc}.home .main-content .bottom-content .job-description .table-row .left{min-width:30%}.home .main-content .bottom-content .job-description .table-row .right p{margin:0}.home .main-content .bottom-content .social-links{width:25%;display:flex;flex-direction:column;align-items:center}.home .main-content .bottom-content .social-links .social{display:flex;border-radius:2px;color:white;width:90%;justify-content:center;align-items:center;align-self:flex-end;cursor:pointer;min-height:50px;margin-bottom:15px;transition:400ms ease}.home .main-content .bottom-content .social-links .social span{font-size:22px}.home .main-content .bottom-content .social-links .social p{margin:0;margin-left:7px}.home .main-content .bottom-content .social-links .face{background:#3b5998}.home .main-content .bottom-content .social-links .face:hover{background:#2d4373}.home .main-content .bottom-content .social-links .twitter{background:#1dcaff}.home .main-content .bottom-content .social-links .twitter:hover{background:#00b2e9}.home .main-content .bottom-content .social-links .linkedin{background:#0077B5}.home .main-content .bottom-content .social-links .linkedin:hover{background:#005582}
/*# sourceMappingURL=home.css.map */
.user-experience {
    display: flex;
    align-items: center;
}
.home .user-info .left h2 {
    margin-right: 5px;
}
.home .user-info .left h3 {
    font-size: 15px;
    margin: 0;
    margin-left: 5px;
}
.skill {
      border: 1px solid #d5dbe0;
}
