.skill-list{width:82%;background:#f1f1f1}.skill-list .top{display:flex;justify-content:flex-end;height:60px;border-bottom:1px solid #cbcfd6;background:white}.skill-list .top .search-input{width:100%;height:100%;box-shadow:none;outline:none;border:0;padding:0 15px}.skill-list .top .utils{display:flex}.skill-list .top .utils .one,.skill-list .top .utils .two,.skill-list .top .utils .three{height:60px;width:65px;display:flex;align-items:center;justify-content:center;color:#99a2b1;border-left:1px solid #cbcfd6;cursor:pointer;font-size:20px;transition:400ms ease}.skill-list .top .utils .one:hover,.skill-list .top .utils .two:hover,.skill-list .top .utils .three:hover{background:#12a3ff;color:#fff}.skill-list .list{padding:30px 45px}.skill-list .list .item{display:flex;align-items:center;margin-bottom:50px}.skill-list .list .item .icon{width:80px;margin-right:25px}.skill-list .list .item .icon .fa{font-size:70px;color:#354052}.skill-list .list .item .icon img{max-width:100%}.skill-list .list .item .right{width:100%}.skill-list .list .item .right span{float:right}.skill-list .list .item .right .progress-box{margin-top:10px;display:block;width:100%;height:15px;background:#e4e4e4}.skill-list .list .item .right .progress-box .progress-bar{height:15px;background:#354052}.skill-list .new-item{margin:auto;max-width:500px;padding:50px}.skill-list .new-item input{width:100%;border:0;margin-bottom:10px;outline:none;box-shadow:none;padding:0 15px;height:40px}.skill-list .new-item button{width:100%;height:40px;background:#12a3ff;color:white;border:0;outline:none;box-shadow:none}.skill-list .new-item .box{position:relative}
/*# sourceMappingURL=skill-list.css.map */
.val {
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
    font-weight: bold;
}
.no-hability {
  text-align: center;
  color: #969292;
}

button.remove {
  position: absolute;
  right: 0;
  top: 55px;
  border: none;
  padding: 4px 9px;
  font-size: 15px;
  border-radius: 2px;
  background: #ea002a;
  color: white;
  font-weight: bold;
  transition: 400ms ease;
  outline: none;
}
button.remove:hover {
    background: #ca0024;
}
.skill-list .list .item .right {
    position: relative;
}
input[name="knowledge"], input[name="skill-percent"] {
  outline: none;
  background: transparent;
  border: none;
  padding-left: 2px;
}
input[name="knowledge"] {
  width: 30px;
  float: right;
}
.edit {
    position: absolute;
    right: 35px;
    top: 55px;
    border: none;
    padding: 4px 9px;
    font-size: 15px;
    border-radius: 2px;
    background: #7ab7b5;
    color: white;
    font-weight: bold;
    transition: 400ms ease;
    outline: none;
}
.edit:hover {
    background: #6b9e9d;
}

.save {
  position: absolute;
    right: 35px;
    top: 55px;
    border: none;
    padding: 4px 9px;
    font-size: 15px;
    border-radius: 2px;
    background: #45c127;
    color: white;
    font-weight: bold;
    transition: 400ms ease;
    outline: none;
    display: none;
}
.save:hover {
    background: #348e1e;
}
.item.editable input {
  background: white;
  border: 1px solid #ccc;
}
.item.editable .save {
  display: block;
}
.item.editable .edit {
  display: none;
}
